@mixin section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "module";
}

// Section class
.section {
    @include section;

    // Section Container class
    &--container {
        @include section;
        grid-template-columns: 1fr minmax(auto, 1080px) 1fr;
        grid-template-areas: ". module .";
    }
}