/* Check for IE 10+ */
$ie: false;

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    $ie: true;
}

/* Grid mixin placeholder selectors */
@if ($ie == false) {
    %grid-static { display: grid; }
    %grid-template-columns-auto-static { grid-template-columns: auto; }
    %grid-template-rows-auto-static { grid-template-rows: auto; }
} @else {
    %grid-static { display: -ms-grid; }
    %grid-template-columns-auto-static { -ms-grid-columns: auto; }
    %grid-template-rows-auto-static { -ms-grid-rows: auto; }
}

/* Grid */
@mixin grid($grid-template-columns: auto, $grid-template-rows: auto) {

    @extend %grid-static;

    @if $grid-template-columns == "auto" {
        @extend %grid-template-columns-auto-static;
    } @else {
        @if ($ie == false) {
            grid-template-columns: $grid-template-columns;
        } @else {
            -ms-grid-columns: $grid-template-columns;
        }
    }

    @if $grid-template-rows == "auto" {
        @extend %grid-template-rows-auto-static;
    } @else {
        @if ($ie == false) {
            grid-template-rows: $grid-template-rows;
        } @else {
            -ms-grid-rows: $grid-template-rows;
        }
    }
}

/* Grid start */
@mixin grid-start($grid-column-start: 1, $grid-row-start: 1) {
    @if ($ie == false) {
        grid-column-start: $grid-column-start;
        grid-row-start: $grid-row-start;
    } @else {
        -ms-grid-column: $grid-column-start;
        -ms-grid-row: $grid-row-start;
    }
}

/* Align (start, center, end) */
@mixin align($align-self: start) {
    @if ($ie == false) {
        align-self: $align-self;
    } @else {
        -ms-grid-row-align: $align-self;
    }
}

/* Justify (start, center, end) */
@mixin justify($justify-self: start) {
    @if ($ie == false) {
        justify-self: $justify-self;
    } @else {
        -ms-grid-column-align: $justify-self;
    }
}

/* CSS Grid Align */
.align-start { @include align(start); }
.align-center { @include align(center); }
.align-end { @include align(end); }

/* CSS Grid Justify */
.justify-start { @include justify(start); }
.justify-center { @include justify(center); }
.justify-end { @include justify(end); }