
@mixin body {
    padding: $size-6 0;
}

.body {
    @include body;
}

@mixin body--small {
    padding: $size-7 0;
}

.body--small {
    @include body--small;
}

@mixin body--medium {
    padding: $size-5 0;
}

.body--medium {
    @include body--medium;
}

@mixin body--large {
    padding: $size-4 0;
}

.body--large {
    @include body--large;
}