
@mixin title {
    padding: 0 0 $size-4;
}

.title {
    @include title;
}

@mixin title--small {
    padding: 0 0 $size-5;
}

.title--small {
    @include title--small;
}

@mixin title--medium {
    padding: 0 0 $size-3;
}

.title--medium {
    @include title--medium;
}

@mixin title--large {
    padding: 0 0 $size-2;
}

.title--large {
    @include title--large;
}