/* Block */
.block {
    @include grid;
    padding: 0 0 $size-6;

    > * {
        padding: 0 0 $size-8;
    }
}


/* Modifiers */

// Large block
.block--large {
    padding: 0 0 $size-2;
}

// Title Graphic block
.block--title-graphic {
    padding: 0 0 $size-8;
    text-align: center;

    > *:nth-child(1) {
        padding: 0 0 $size-4;
    }

    p {
        text-align: left;
    }
}
