/* Section */
.section {
    @include grid;

    @include desktop-up {
        padding: 3rem $size-6;
    }

    @include tablet-only {
        padding: 2rem $size-4;
    }

    @include mobile-only {
        padding: 2rem $size-6;
    }
}


/* Modifiers */

// Grayish white background
.section--grey {
    background-color: $color-grey;
}