/* Three Block Hero */
.three-block-hero {
    @include desktop-up {
        @include grid(2fr 1rem 1fr, auto 1rem auto);
        padding: $size-6 0 0;
        margin-bottom: .5em;
    }

    @include tablet-only {
        @include grid(1fr, 375px 1rem 375px 1rem 375px 1rem);
    }
    
    @include mobile-only {
        @include grid(1fr, auto 1rem auto 1rem auto 1rem);
    }

    > * {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    > *:nth-child(1) {
        @include grid(1fr, 1fr);

        @include desktop-up {
            @include grid-start(1);
            grid-row: 1/4;
            -ms-grid-row-span: 3;
        }

        @include tablet-down {
            @include grid-start(1);
        }
    }

    > *:nth-child(2) {
        @include grid(1fr, 1fr);

        @include desktop-up {
            @include grid-start(3);
        }

        @include tablet-down {
            @include grid-start(1, 3);
        }
    }

    > *:nth-child(3) {
        @include grid(1fr, 1fr);

        @include desktop-up {
            @include grid-start(3, 3);
        }

        @include tablet-down {
            @include grid-start(1, 5);
        }
    }

    .top {
        padding: $size-6;
        align-self: start;

        @include desktop-up {
            @include grid-start(1);
        }
        @include tablet-only {
            @include grid-start(1);
        }
        @include mobile-only {
            @include grid-start(1);
            @include justify(center);
            text-align: center;
        }

        > *:nth-child(1) {
            margin-bottom: .5rem;
        }
    }
    
    .bottom {
        width: 100%;
        @include align(end);

        @include desktop-up {
            @include grid-start(1, 2);
        }
        @include tablet-up {
            @include grid-start(1, 2);
            padding: $size-6;
        }
        @include mobile-only {
            @include grid-start(1, 2);
            @include justify(center);
            text-align: center;
            background-color: $color-grey;
            color: $color-white;
        }

        > *:nth-child(1) {
            font-size: 14px;
            line-height: 1.2;

            @include desktop-up {
                max-width: 120px;
            }

            @include tablet-only {
                max-width: 200px;
            }
            @include mobile-only {
                padding: .5em;
                max-width: 230px;
                margin: 0px auto;
                text-align: center;
            }
        }
    }

    .button {
        margin-top: .5rem;

        @include mobile-only {
            margin: 0;
        }
    }

    h1 {
        @include tablet-only {
            font-size: 26px;
        }
    }

}

/* Modifiers */

// Custom three block hero
.three-block-hero--custom {

    > *:nth-child(1) {
        @include desktop-up {
            height: 666px;
            background-image: url('http://via.placeholder.com/1500x1200/ffffff/cccccc');
        }
        @include tablet-only { 
            background-image: url('http://via.placeholder.com/800x375/ffffff/cccccc');
        }
        @include mobile-only {
            height: 500px;   
            background-image: url('http://via.placeholder.com/500x500/ffffff/cccccc');
        }

        .top {
            > *:nth-child(2) {
                padding: 0 0 $size-6;
                line-height: 1.1;

                @include desktop-up {
                    max-width: 80%;
                    font-size: 20px;
                }
        
                @include tablet-down {
                    font-size: 16px;
                }
            }
        }

        h1 {
            @include desktop-up {
                font-size: 40px;
            }
        }
    }

    > *:nth-child(2) {
        @include desktop-up {
            height: 325px;     
            background-image: url('http://via.placeholder.com/355x325/ffffff/cccccc');
        }

        @include tablet-only {
            background-image: url('http://via.placeholder.com/800x375/ffffff/cccccc');
        }

        @include mobile-only {
            height: 500px;
            background-image: url('http://via.placeholder.com/500x500/ffffff/cccccc');
        }

        .top {
            @include tablet-only {
                padding-left: 2em;
                padding-top: 3em;
            }
        }

        .bottom {
            @include tablet-only {
                padding-left: 2em;
            }
        }

        .button {
            @include desktop-up {
                margin: 0;
            }
        }
    }

    > *:nth-child(3) {
        @include desktop-up {
            height: 325px;
            background-image: url('http://via.placeholder.com/355x325/ffffff/cccccc');
        }

        @include tablet-only {
            background-image: url('http://via.placeholder.com/800x375/ffffff/cccccc');
        }

        @include mobile-only {
            height: 500px;
            background-image: url('http://via.placeholder.com/500x500/ffffff/cccccc');
        }

        .top {
            @include tablet-only {
                padding-left: 2em;
                padding-top: 3em;
            }
        }

        .bottom {
            @include tablet-only {
                padding-left: 2em;
            }
        }
        
        .subtitle {
            @include desktop-up {
                max-width: 110px;
            }
            @include tablet-only {
                max-width: 165px;
            }
        }

        .button {
            @include desktop-up {
                margin: 0;
            }
        }
    }
}