.play-button {
    @include grid(1fr);

    > *:nth-child(1) {
        z-index: 1;
        opacity: .5;
        @include grid-start(1);
        @include justify(center);
        @include align(center);

        @include desktop-up {
            width: 100px;
            height: 100px;
        }
        @include tablet-only {
            width: 95px;
            height: 95px;
        }
        @include mobile-only {
            width: 95px;
            height: 95px;
        }
    }

    > *:nth-child(2) {
        @include grid-start(1);
        @include justify(center);
        @include align(center);
    }

}