/* Colors */
$color-black: #000000; // Orange color
$color-white: #ffffff; // Orange color
$color-turquoise: #31A2AC; // Turquoise color
$color-turquoise-light: #98d0d5; // Light Turquoise color
$color-orange: #F49800; // Orange color
$color-orange-dark: #C67D04; // Dark Orange color
$color-grey: #6b6b6b; // Grey color
$color-grey-dark: #2F2F28; // Grey color
$color-greyish-white: #F0EFF0; // Greyish White color
$color-auburn: #85200C; // Auburn color
$color-old-wood: #2F2F28; // Old Wood color

$color-primary: $color-turquoise;
$color-secondary: $color-turquoise-light;

$color-h1: $color-grey-dark;
$color-h2: $color-turquoise;
$color-h3: $color-grey-dark;
$color-h4: $color-grey-dark;

/* Type */
@import url('//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,80');
$font-family-primary: "Open Sans", Arial, Helvetica, sans-serif;
$font-size-normal: map-get($sizes, 4);