/* Button placeholder selector */
%button-static {
  @include border-radius(map-get($sizes, 5));
  display: inline-block;
  max-width: fit-content;
  font-family: $font-family-primary;
  font-size: map-get($sizes, 4);
  font-weight: map-get($weights, "normal");
  line-height: normal;
  padding: map-get($sizes, 3) map-get($sizes, 5);
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: $color-turquoise;
    color: $color-white;
  }
}

/* Button */
.button {
  @extend %button-static;
}

/*
* Modifiers
*/

// Primary button
.button--primary {
  color: $color-white;
  background-color: $color-turquoise;

  &:hover {
    background-color: $color-turquoise-light;
  }
}
