/* Colors */
$color-black: #000000; // Orange color
$color-white: #ffffff; // Orange color
$color-turquoise: #31A2AC; // Turquoise color
$color-turquoise-light: #98d0d5; // Light Turquoise color
$color-orange: #F49800; // Orange color
$color-orange-dark: #C67D04; // Dark Orange color
$color-grey: #6b6b6b; // Grey color
$color-grey-dark: #2F2F28; // Grey color
$color-greyish-white: #F0EFF0; // Greyish White color
$color-auburn: #85200C; // Auburn color
$color-old-wood: #2F2F28; // Old Wood color

/*
* Colors helper mixin
*
* Usage:
    map-get($colors, "black")
*/

// TODO FINISH VALUES

$colors: (
    "black": #000000,
    "white": #ffffff,
);