/* Small border */
.border-small { 
    border: 1px solid #ccc;
}

/* Medium border */
.border-medium { 
    border: 3px solid #ccc;
}

/* Box shadow */
.box-shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05)
}

/* Color white */
.color-white {
    color: $color-white;
}

/* Container */
.container {
    max-width: 1080px;
    width: 100%;
    @include justify(center);
}

// Small container
.container--small {
    max-width: 800px;
    width: 100%;
    @include justify(center);
}

/* Hide on desktop */
.hide-desktop {
    @include tablet-up {
        display: none;
    }

    @include mobile-only {
        display: block;
    }
}

/* Hide on mobile */
.hide-mobile {
    @include tablet-up {
        display: block;
    }

    @include mobile-only {
        display: none;
    }
}

/* Max width small */
.max-width-small {
    max-width: 250px;
}

/* Max width medium */
.max-width--medium {
    max-width: 350px;
}

/* Text align center */
.text-center {
    text-align: center;
}

/* Text align left */
.text-left {
    text-align: left;
}

/* Text align right */
.text-right {
    text-align: right;
}