/*
* Sizes helper mixin
*
* Usage:
    padding-top: map-get($sizes, 4)
*/

/* Count */
$sizes-count: 10;

/* Multiplier (based on 4 to 1 design pattern) */
$sizes-multiplier: 4;

/*
* Setting Sizes (based on Count and Multiplier)
*
* Output:
    $sizes: (
        1: 4px
        2: 8px
        3: 12px, etc.
    );
*/
$sizes: ();

@for $i from 1 through $sizes-count {
    $sizes: map-merge($sizes, ($i: #{$i * $sizes-multiplier}px));
}