// Default mixin
@mixin block {
    @include grid;
    padding: 0 0 $size-6;

    &__title {
        padding: 0 0 $size-9;
    }

    &__body {
        padding: 0 0 $size-10;
    }
}

.block {

    // Block
    @include block;

    // X-Small block
    &--xsmall {
        padding: 0 0 $size-10;
    }

    // Small block
    &--small {
        padding: 0 0 $size-8;
    }

    // Large block
    &--large {
        padding: 0 0 $size-4;
    }

    // X-Large block
    &--xlarge {
        padding: 0 0 $size-2;
    }

    // Hero block
    &--hero {
        padding: 0;

        .block__title {
            padding: 0;
            color: $color-white;
            text-align: center;
        }
    }

    // White/center block
    &--white-center {
        padding: 0;

        .block__title {
            padding: 0;
            color: $color-white;
            text-align: center;
        }

        .block__body {
            padding: 0;
            color: $color-white;
            text-align: center;
        }
    }

    // Reference
    &--reference {
        padding: 0;

        .block__title {
            padding: 0;
            font-size: 14px;
            font-weight: $weight-bold;
            color: #333333;
        }

        .block__body {
            padding: 0;
            font-size: 14px;
            color: #333333;
        }
    }
}