@mixin block {
    @include grid;
}

.block {
    @include block;
}

@mixin section--small {
    @include block;
    @include desktop-up {
        padding: 2rem $size-6;
    }

    @include tablet-only {
        padding: 2rem $size-4;
    }

    @include mobile-only {
        padding: 2rem $size-6;
    }
}

.section--small { 
    @include section--small;
}


@mixin section--medium {
    @include block;
    @include desktop-up {
        padding: 3rem $size-6;
    }

    @include tablet-only {
        padding: 2rem $size-4;
    }

    @include mobile-only {
        padding: 2rem $size-6;
    }
}

.section--medium { 
    @include section--medium;
}


@mixin section--large {
    @include grid;
    @include desktop-up {
        padding: 5rem $size-6;
    }

    @include tablet-only {
        padding: 4rem $size-4;
    }

    @include mobile-only {
        padding: 4rem $size-6;
    }
}

.section--large { 
    @include section--large;
}


.container {
    max-width: 1080px;
    margin: 0 auto;
}

.block--icon {
    @include justify(center);
    text-align: center;
}