// Default mixin
@mixin block {
    @include grid;
    padding: 0 0 $size-6;

    &__title {
        padding: 0 0 $size-10;
    }

    &__body {
        padding: 0 0 $size-10;
    }
}

.block {

    // Block
    @include block;

    // Small block
    &--small {
        padding: 0 0 $size-8;
    }

    // Large block
    &--large {
        padding: 0 0 $size-4;
    }

    // White/center block
    &--white-center {
        .block__title {
            color: $color-white;
            text-align: center;
        }
    }
}