// Variables
$component-container-width: 1080px;

@mixin component {
    @include grid;
}

@mixin component-container {
    @include grid(minmax(auto, $component-container-width));
    justify-self: center;
}

.component {
    @include component;

    // Default Component container
    &--container {
        @include component-container;
    }

    // Title Component
    &--title {
        @include component-container;
        
        .grid {
            @include desktop-up {
                padding: $size-1 $size-6;
            }
            @include tablet-down {
                padding: $size-3;
            }
            h1 {
                color: $white-color;
            }
            text-align: center;
        }
    }
}

