// Default Hero
@mixin hero {
    display: grid;
    
    @include tablet-up {
        @include col-one;
        grid-template-rows: repeat(1, 1fr);
    }
    @include mobile-only {
        @include col-one;
        grid-template-rows: repeat(1, 1fr);
    }

    @mixin block {
        @include padding;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .block {
        &__content {
            @include block;

            @include desktop-up {
                background-image: url('https://placeholdit.co//i/1080x120?bg=ec3d62');
            }
            @include tablet-only {
                background-image: url('https://placeholdit.co//i/1080x120?bg=ec9a3d');
            }
            @include mobile-only {
                background-image: url('https://placeholdit.co//i/1080x120?bg=3d8bec');
            }
        }
    }
}

.hero { @include hero; }


