// Default Hero
@mixin hero {
    grid-area: module;
    display: grid;
    
    @include tablet-up {
        @include col-one;
        grid-template-rows: repeat(1, 1fr);
    }
    @include mobile-only {
        @include col-one;
        grid-template-rows: repeat(1, 1fr);
    }

    @mixin block {
        @include padding;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .block {
        &__content {
            @include block;

            @include desktop-up {
                background-image: url('https://placeholdit.co//i/1080x120?bg=ec3d62');
            }
            @include tablet-only {
                background-image: url('https://placeholdit.co//i/1080x120?bg=ec9a3d');
            }
            @include mobile-only {
                background-image: url('https://placeholdit.co//i/1080x120?bg=3d8bec');
            }
        }
    }
}

.hero { @include hero; }



// Hero on Patient Homepage
@mixin hero--pat {
    grid-area: module;
    display: grid;
    grid-gap: 1rem;
        
    @include desktop-up {
        @include col-three;
        @include padding-top;
        grid-template-rows: repeat(2, minmax(300px, auto));
        grid-template-areas: "left left rt"
        "left left rb";
    }
    @include tablet-only {
        @include col-one;
        grid-template-rows: repeat(3, minmax(300px, auto));
        grid-template-areas: none;
    }
    @include mobile-only {
        @include col-one;
        grid-template-rows: repeat(3, minmax(300px, auto));
        grid-template-areas: none;
    }

    @mixin block {
        display: grid;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        font-size: 16px;
    }

    .block {        
        &--left {
            @include block;
    
            @include desktop-up {
                grid-area: left;
                background-image: url('https://placeholdit.co//i/700x615?bg=ec3d62');
            }
            @include tablet-only {
                background-image: url('https://placeholdit.co//i/715x300?bg=ec9a3d');
            }
            @include mobile-only {
                background-image: url('https://placeholdit.co//i/350x300?bg=3d8bec');
            }
        }
    
        &--rt {
            @include block;
    
            @include desktop-up {
                grid-area: rt;
                background-image: url('https://placeholdit.co//i/350x300?bg=ec3d62');
            }
            @include tablet-only {
                background-image: url('https://placeholdit.co//i/715x300?bg=ec9a3d');
            }
            @include mobile-only {
                background-image: url('https://placeholdit.co//i/350x300?bg=3d8bec');
            }
        }
    
        &--rb {
            @include block;
    
            @include desktop-up {
                grid-area: rb;
                background-image: url('https://placeholdit.co//i/350x300?bg=ec3d62');
            }
            @include tablet-only {
                background-image: url('https://placeholdit.co//i/715x300?bg=ec9a3d');
            }
            @include mobile-only {
                background-image: url('https://placeholdit.co//i/350x300?bg=3d8bec');
            }
        }

        &__top {
            @include padding-small;
            align-self: start;
            @include mobile-only {
                justify-self: center;
                text-align: center;
            }
        }
        
        &__bottom {
            width: 100%;
            align-self: end;
            @include tablet-up {
                @include padding-small;
            }
            @include mobile-only {
                justify-self: center;
                text-align: center;
            }
        }

        &__title {
            margin-bottom: .5rem;
        }

        &__button {
            margin-top: 1rem;
        }

        &__subtitle {
            font-size: 14px;

            @include tablet-up {
                max-width: 200px;
            }
            @include mobile-only {
                @include padding-small;
                background-color: #ccc;
            }
        }
    }

}

.hero--pat { @include hero--pat; }
