// Variables


@mixin hero-three-block {
    @include component-container;

    .grid {
        @include grid;
        
        @include desktop-up {
            @include grid(repeat(3, 1fr), repeat(2, minmax(300px, auto)), 1rem);
            grid-template-areas: "left left rt"
            "left left rb";
            padding: $size-6 0 0;
        }
        @include tablet-only {
            @include grid(repeat(1, 1fr), repeat(3, minmax(300px, auto)), 1rem);
            grid-template-areas: none;
        }
        @include mobile-only {
            @include grid(repeat(1, 1fr), repeat(3, minmax(300px, auto)), 1rem);
            grid-template-areas: none;
        }
    
        @mixin block {
            @include grid;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            font-size: 16px;
        }

        &__title {
            margin-bottom: .5rem;
        }

        &__body {
            padding: 0 0 $size-6;
        }

        &__image {
            display: block;
        }

        &__button {
            margin-top: 1rem;
        }

        &__subtitle {
            font-size: 14px;

            @include tablet-up {
                max-width: 200px;
            }
            @include mobile-only {
                padding: $size-6;
                background-color: #ccc;
            }
        }


        &__top {
            padding: $size-6;
            align-self: start;
            @include mobile-only {
                justify-self: center;
                text-align: center;
            }
        }
        
        &__bottom {
            width: 100%;
            align-self: end;
            @include tablet-up {
                padding: $size-6;
            }
            @include mobile-only {
                justify-self: center;
                text-align: center;
            }
        }

        &--left { @include block; }
        &--rt { @include block; }
        &--rb { @include block; }

    }
}


// Default Hero Three Block Class
.hero-three-block {
    @include hero-three-block;
    

    // -- Patient Homepage
    &--pat-home {
        @include hero-three-block;

        .grid {        
            &--left {
                @include desktop-up {
                    grid-area: left;
                    background-image: url('https://placeholdit.co//i/700x615?bg=ec3d62');
                }
                @include tablet-only {
                    background-image: url('https://placeholdit.co//i/715x300?bg=ec9a3d');
                }
                @include mobile-only {
                    background-image: url('https://placeholdit.co//i/350x300?bg=3d8bec');
                }
            }
        
            &--rt {
                @include desktop-up {
                    grid-area: rt;
                    background-image: url('https://placeholdit.co//i/350x300?bg=ec3d62');
                }
                @include tablet-only {
                    background-image: url('https://placeholdit.co//i/715x300?bg=ec9a3d');
                }
                @include mobile-only {
                    background-image: url('https://placeholdit.co//i/350x300?bg=3d8bec');
                }
            }
        
            &--rb {
                @include desktop-up {
                    grid-area: rb;
                    background-image: url('https://placeholdit.co//i/350x300?bg=ec3d62');
                }
                @include tablet-only {
                    background-image: url('https://placeholdit.co//i/715x300?bg=ec9a3d');
                }
                @include mobile-only {
                    background-image: url('https://placeholdit.co//i/350x300?bg=3d8bec');
                }
            }
        }
    }
}