@mixin icon {
    margin: 0 auto;

    @include desktop-up {
        width: 225px;
        height: 225px;
    }

    @include tablet-only {
        width: 200px;
        height: 200px;
    }

    @include mobile-only {
        width: 200px;
        height: 200px;
    }
}

.icon {
    @include icon;
}