@mixin icon {
    @include grid;

    &__img {
        @include grid-start(1);
        @include justify(center);
        width: 225px;
        height: 225px;
        padding: 0 0 $size-8;
    }

    &__body {
        @include grid-start(1, 2);
        @include justify(center);
        width: 250px;
        text-align: center;
    }

}

.icon {
    @include icon;
}
