
@mixin image-left {
    @include component-container;

    .grid {
        @include grid;

        @include tablet-up {
            @include grid(1fr 1fr, auto);
            padding: $size-6 0 0;
        }
    
        @include mobile-only {
            @include grid;
            padding: $size-6 0 0;
        }

        &__image {
            align-self: start;
        }

        &__text {
            align-self: start;
            padding: $size-6 $size-6 0;
        }
    }
}

// Default Image Left Class
.image-left {
    @include image-left;

    &--hcp-1-1 {
        @include image-left;

        .grid {
            &__text {
                align-self: center;
            }
        }
    }

    &--video-button {
        @include image-left;

        .grid {
            @include desktop-up {
                @include grid(1fr 1fr, auto);
                padding: $size-3 0;
            }
        
            @include tablet-down {
                @include grid;
                padding: $size-3 0;
            }

            &__image {
                @include tablet-down {
                    justify-self: center;
                }
            }

            &__body {
                @include grid;
                padding: $size-6 $size-6 0;
            }

            &__button {
                align-self: end;
            }
        }
    }

}