// Default mixin
@mixin section {
    @include grid;

    @include desktop-up {
        padding: 3rem $size-6;
    }

    @include tablet-only {
        padding: 2rem $size-4;
    }

    @include mobile-only {
        padding: 2rem $size-6;
    }
}

.section {
    // Section
    @include section;
}

.section--clear {
    padding: 0;
}


// Small section
.section--small {
    @include desktop-up {
        padding: 2rem $size-6;
    }

    @include tablet-only {
        padding: 2rem $size-4;
    }

    @include mobile-only {
        padding: 2rem $size-6;
    }
}

// Large section
.section--large {
    @include desktop-up {
        padding: 5rem $size-6;
    }

    @include tablet-only {
        padding: 4rem $size-4;
    }

    @include mobile-only {
        padding: 4rem $size-6;
    }
}

// Turquoise background section
.section--turquoise {
    background-color: $color-turquoise;
}

.section--orange {
    background-color: $color-orange;
}

.section--grayish-white {
    background-color: $color-grayish-white;
}

.section--disease {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("/assets/images/hcp/interior-1-1/desktop/1-1-interior-6-hcp.png");

    @include desktop-up {
        padding: 3rem $size-6;
    }

    @include tablet-only {
        padding: 2rem $size-4;
    }

    @include mobile-only {
        padding: 2rem $size-6;
    }
}

.section--cta {
    background-color: $color-turquoise;

    @include desktop-up {
        padding: 6rem $size-6;
    }

    @include tablet-only {
        padding: 4rem $size-4;
    }

    @include mobile-only {
        padding: 4rem $size-6;
    }
}

.section--thomas {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("/assets/images/hcp/interior-2-2/desktop/thomas-hero-desktop.png");
    
    @include desktop-up {
        padding: 5rem $size-6;
    }

    @include tablet-only {
        padding: 4rem $size-4;
    }

    @include mobile-only {
        padding: 4rem $size-6;
    }
}

.container {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

.container--small {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}