/* Button placeholder selector */
%button-static {
  @include border-radius(20px);
  padding: 10px 20px;
  display: inline-block;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  font-family: $font-family-primary;
  font-size: $font-size-normal;
  font-weight: $weight-normal;

  &:hover {
    color: $color-white;
    background-color: $color-turquoise;
  }
}

/* Button */
@mixin button {
  @extend %button-static;
}

/* Default class */
.button {
  @include button;
}

/* Primary button */
.button-primary {
  @include button;
  color: $color-white;
  background-color: $color-turquoise;
}
