
/***************
Variables
***************/
$teal-color: #31A2AC; // Teal color
$mint-color: #98d0d5; // Mint color
$light-teal-color: #14abac; // Light Teal color
$dark-teal-color: #1f5158; // Dark Teal color
$light-grey-color: #cccccc; // Light Grey color
$dark-grey-color: #333333; // Dark Grey color
$white-color: #ffffff; // White color
$orange-color: #F49800; // Orange color
$dark-orange-color: #C67D04; // Dark Orange color
$yellow-color: #2e3024; // Yellow color


$turquoise-color: #31A2AC; // Turquoise color
$light-turquoise-color: #98d0d5; // Light Turquoise color
$grayish-white-color: #F0EFF0; // Grayish White color
$old-wood-color: #2F2F28; // Old Wood color
$grey-color: #4a4b45; // Grey color
$auburn-color: #85200C; // Auburn color

$share-color: #adabad; // Footer share color




/*
Typography
*/

/***************
Variables
***************/
$font-family-one: 'Open Sans';



/***************
Replacing Flatsome Theme Defaults
***************/
.primary-color {
    color: $turquoise-color;
  }

.secondary-color {
    color: $light-turquoise-color;
}

.primary {
  background: {
    color: $turquoise-color;
  }
  &:hover {
    background: {
      color: $light-turquoise-color;
    }
    text-decoration: none;
    color: #ffffff;
  }
}

.secondary {
  background: {
    color: $turquoise-color;
  }
  &:hover {
    background: {
      color: $light-turquoise-color;
    }
    text-decoration: none;
    color: #ffffff;
  }
}

.mint-color-bg {
  background-color: $turquoise-color;
}
  

/***************
Headers
***************/
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 5px;
}

h1 {
    font-size: 30px;

  font-family: $font-family-one !important;
  color: $old-wood-color;
  clear: both;
}

h2 {
  font: {
    family: $font-family-one !important;
    size: 30px;
  }
  color: $turquoise-color;
  clear: both;
}

h3 {
  font: {
    family: $font-family-one !important;
    size: 20px;
  }
  color: $old-wood-color;
  clear: both;
}

h4 {
  font: {
    family: $font-family-one !important;
    size: 20px;
  }
  color: $turquoise-color;
  clear: both;
}

h5 {
  font: {
    family: $font-family-one !important;
    size: 16px;
  }
  color: $turquoise-color;
  clear: both;
}

h6 {
  font: {
    family: $font-family-one !important;
    size: 14px;
  }
  color: $old-wood-color;
  text-transform: none;
  clear: both;
}




/*
Reset
*/

/***************
HTML
***************/
html {
    background-color: $white-color;
    font-family: $font-family-one;
  }
  
  
  /***************
  Body
  ***************/
  body {
    font: {
      family: $font-family-one;
      size: 16px;
    }
    color: $dark-grey-color;
  }
  
  p {
    font-family: $font-family-one;
    margin-bottom: 0px;
  }
  
  /***************
  Links
  ***************/
  a {
    font: {
      family: $font-family-one;
      size: 16px;
      weight: bold;
    }
    color: $turquoise-color;
    &:hover,
    &:focus,
    &.active {
      color: $turquoise-color;
      text-decoration: none;
      cursor: pointer;
    }
    &.small-link {
      font: {
        size: 16px;
      }
      &:hover {
        text-decoration: underline;
        color: $light-turquoise-color;
      }
    }
    &.large-link {
      font: {
        size: 20px;
      }
      &:hover {
        text-decoration: underline;
        color: $light-turquoise-color;
      }
    }
  }
  
  .upper {
      text-transform: uppercase;
  }
  
  button i, .button i {
    vertical-align: middle;
    top: -1.1px;
    left: .2px;
}

.nav-dark .is-outline, .dark .nav>li>a, .dark .nav>li.html, .dark .nav-vertical li li.menu-item-has-children>a, .dark .nav-vertical>li>ul li a, .nav-dropdown.dark>li>a, .nav-dropdown.dark .nav-column>li>a, .nav-dark .nav>li>a, .nav-dark .nav>li>button {
  color: $white-color;
}

.nav>li>a:hover, .nav>li.active>a, .nav>li.current>a, .nav>li>a.active, .nav>li>a.current, .nav-dropdown li.active>a, .nav-column li.active>a, .nav-dropdown>li>a:hover, .nav-column li>a:hover {
  color: $white-color;
}

sup {
  font-size: 60%;
}