

@mixin grid($grid-template-columns: auto, $grid-template-rows: auto, $grid-gap: 0) {
    display: grid;
    grid-template-columns: $grid-template-columns;
    grid-template-rows: $grid-template-rows;
    grid-gap: $grid-gap;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
}

