

.border--small { 
    border: 1px solid #ccc;
}

.border--medium { 
    border: 3px solid #ccc;
}

.desktop--hide {
    @include tablet-up {
        display: none;
    }

    @include mobile-only {
        display: block;
    }
}

.mobile--hide {
    @include tablet-up {
        display: block;
    }

    @include mobile-only {
        display: none;
    }
}

.height--small {
    height: 150px;
}

.max-width--small {
    max-width: 250px;
}

.max-width--medium {
    max-width: 350px;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
}


.text--center {
    text-align: center;
}


.color--white {
    color: $color-white;
}

@mixin background {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.background--turquoise {
    background-color: $color-turquoise;
}

.background--orange {
    background-color: $color-orange;
}

.background--grayish-white {
    background-color: $color-grayish-white;
}


.background--disease {
    @include background;
    background-image: url("/assets/images/hcp/interior-1-1/desktop/1-1-interior-6-hcp.png");
}
