.border { @include border; }

.hide-desktop {
    @include tablet-up {
        display: none;
    }

    @include mobile-only {
        display: block;
    }
}

.hide-mobile {
    @include tablet-up {
        display: block;
    }

    @include mobile-only {
        display: none;
    }
}

.align-center {
    @include align(center);
}

.justify-center {
    @include justify(center);
}
