

.border--small { 
    border: 1px solid #ccc;
}

.border--medium { 
    border: 3px solid #ccc;
}

.desktop--hide {
    @include tablet-up {
        display: none;
    }

    @include mobile-only {
        display: block;
    }
}

.mobile--hide {
    @include tablet-up {
        display: block;
    }

    @include mobile-only {
        display: none;
    }
}

.width--small {
    width: 250px;
}

.width--1080 {
    max-width: 1080px;
}


.text--center {
    text-align: center;
}


.color--white {
    color: $color-white;

    h1, h2 {
        color: $color-white;
    }
    
    p {
        color: $color-white;
    }
}

.background--turquoise {
    background-color: $color-turquoise;
}

.background--orange {
    background-color: $color-orange;
}

