
// Responsive
// -------------------
 // Tablet, Desktop, and Widescreen
 @mixin tablet-up { 
  @media only screen and (min-width: $break-mobile) { @content; }
}
@mixin desktop-up {
  @media only screen and (min-width: $break-tablet) { @content; }
} // Desktop and Widescreen

@mixin tablet-down { @media only screen and (max-width: $break-tablet) { @content; } } // Tablet and Mobile
@mixin desktop-down { @media only screen and (max-width: $break-desktop) { @content; } } // Desktop, Tablet, and Mobile

@mixin mobile-only { @media only screen and (max-width: $break-mobile) { @content; } } // Mobile only
@mixin tablet-only { @media only screen and (min-width: $break-mobile) and (max-width: $break-tablet) { @content; } } // Tablet only
@mixin desktop-only { @media only screen and (min-width: $break-tablet) and (max-width: $break-desktop) { @content; } } // Desktop only
@mixin widescreen-only { @media only screen and (min-width: $break-desktop) { @content; }} // Widescreen only


@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}

// Border
// ------

@mixin border { border: 1px solid black; }